# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# SQLite
*.db
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
frontend/dist/
frontend/node_modules/
frontend/unpackage/

# Env
.env
.env.local
